*{
  font-family: 'Times New Roman', Times, serif;
}
body{
  margin-left: 15%;
  margin-right:15%;
  background-color: #dcc055;
}
h1,h2{
  font-family: 'Charmonman', cursive;  
  color: #a83928;
  text-align: center;
}

nav{
/* width:100%; */
  /* padding-top:20px; */
  /* border:1px black solid; */
  display:block;
  background-color: #a99431;
  font-size: 30px;
  /* height:; */

}

nav ul {
  text-align: center;
   list-style-type: none;
}
nav li {
  
   display: inline;
   padding:0px 30px;
}
nav li a {
  text-decoration: none;
  color:#E2D39B;

}
nav li a:hover {
  text-decoration: none;
  color:#a83928;

}
nav li a:active {
  text-decoration: none;
  color:#E2D37E;

}
h1{
  font-weight:normal;
  /* font-style: italic;  */
  font-size: 85px;
  /* letter-spacing: 6px; */
  /* text-decoration: underline; */
  margin-bottom: 0;
}
h2{ 
  /* font-family: 'Open Sans', sans-serif; */
  margin-top:0;
  font-size:36px;
  margin-bottom: 30px;
  /* letter-spacing:-2px; */
}
.store-photo{
  height:200px;
  float:left;

}
#location-contact h3{
  margin-bottom: 0;
}

#about{
  height:500px;
  /* border: 1px black solid; */
  position: relative;
  margin-left:5%;
  margin-right:5%;
}

#about p{
  color:#645727;
  margin-left:5%;
font-size: 23px;
}
#par2{
  padding-left:20px;
}

#about img{
  float:left;
  width: 500px;
  margin-right: 30px;
   /* position: absolute;
  top:200px;
  left:10; */
}
 #about blockquote {
  float: right;
  width: 275px;
  font-size: 200%;
  font-family: Georgia, Times, serif;
  margin: 0px 0px 10px 10px;
  padding: 10px;
  color: #a83928;
  border-top: 2px solid #a83928;
  border-bottom: 2px solid #a83928;
}
#store-title h1{
  margin-top: 0;
  margin-bottom: 0;
}

li{
  color:#645727;
  font-family: 'Open Sans', sans-serif;
  list-style: none;
}

h3{
  text-align: center;
  color:#a83928;
  /* text-decoration:underline; */
  font-size:  42px;
  padding-bottom: 10px;

}


#location-contact{
  display:block;
  height: 30px;
  font-size:28px;
}  

#sales-link{
padding-top: 30px;
}

.photo-div{
  height:250px;
}
#row{
  margin-top:50px;
  height: 300px;
}
/* #locations{
  
}
#contact{
  
}
#store{
  
} */
img{
  display: block;
  /* width:100%; */
  /* padding: 50px 100px; */
 margin:0 auto;

}
.column {
  text-align: center;
  float: left;
  width: 45%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.photo-div p{
  text-align:center;
}

.price{
  color:#a83928;
  font-size:25px;
  text-align:center;
}

  tr td:last-child{
    font-size:120%;
  }
  
  tfoot td {
    color:green;
  
  }
  tfoot td:last-child{
    font-size: 130%;
  }
  form{
    /* width:85%; */
    margin-top:10px;
    margin-left:7.5%;
    margin-right:7.5%;
    background-color: #E2D37E;
    height:300px;
    display:block;
    border: #84a142 5px solid;
    text-align: center;
  }
  legend{
  font-size: 200%;
  padding:10px;
  text-align: center;
  color:#84a142;
  }
  form label{
    display: block;
    text-align: left;
  
  }
  
  table {
    border: 10px solid #a99431;
    empty-cells: hide;
    width:85%;
    margin: 0 auto;
  }
  td, th, tfoot {
    text-align: center;
  }
  tfoot{
    font-size: 110%;
  }
  td {
    color: blue;
    padding: 10px;
    border-radius: 1px;
    border: 1px solid black;
    background: #dcc055;
  }
  
  th {
    background-color: #a83928;;
    color:#dcc055;
  }
  